@import "tailwindcss";

@layer base {
  body {
    background-color: #1a1a1a;
    color: white;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #root {
    width: 100%;
    height: 100%;
  }
}